

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
  background-color:maroon;

}
.container-narrow
{
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  height:100%;
  margin: 0 auto;
  margin-top:-20px;
  max-width: 1200px;
  background-color:white;
}
  
.stickyFooter
{
  background-color:white;
  position:fixed;
  bottom:0;
  width:100%;
  height:40px;
  padding-left:40px;
}

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 300px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 300px;
    }

    .carousel-caption {
      background-color: black;
      position: relative;
      top:260px;
      height:20px;
      text-align: center;
      padding:8px 8px 8px 8px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }











