/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
  background-color: #4D1810;
  background-image: url('../img/Cross_CSS_BG.png');
  background-repeat:repeat;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.hero-module
{
  padding:10px;
  background-color:white;
  border-radius:8px;
  margin-bottom:5px;
}

.span4 
{
  background-color:white;
  border-radius:8px;
}

.module{
  margin-top:20px;
  padding:0px 10px 10px 10px;
}

.module .last
{
  padding-bottom:15px;
}

.spacer
{
  height:20px;
}

.module h2
{
  text-align: center;
}

.module p
{
  padding-top:5px;
}

.container-narrow
{
  width:97%;
  margin:auto;
}
  
.stickyFooter
{
  background-color:white;
  position:fixed;
  bottom:0;
  width:100%;
  height:40px;
  padding-left:40px;
}
.stickyFooter p
{
  padding-top:10px;
}

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      width:80%;
      margin:auto;
      margin-bottom: 60px;
      max-width:1000px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 300px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 300px;
    }

    .carousel-caption {
      background-color: black;
      position: relative;
      top:260px;
      height:20px;
      text-align: center;
      padding:8px 8px 8px 8px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    
@media (max-width: 767px) {
   footer {
      margin-right: -20px;
      margin-left: -20px;
   }
}







